.App{
  background-color: aquamarine;
  min-height: 100vh;
  padding: 32px;
}
.header-title {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 32px;
}
.content-area {
  max-width: 800px;
  margin: 0 auto;
}